* {
    color: lightgray;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: black;
}

main {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: lightsteelblue
}

header {
    padding: 5px 20px;
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    border: 3px solid gray;
    background-color: gray;
}

nav {
    float: right;
    font-size: 25px;
    margin-top: 5px;
}

nav a {
    padding: 10px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}