* {
    color: lightgray;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: black;
}

a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    color: lightsteelblue
}

header {
    margin-bottom: 10px;
    border: 1px solid gray;
}

nav {
    float: right;
}

nav a {
    padding: 10px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}